<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24463546?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24396878?query=java%20Odessa">Perl Developer (Odessa or remote)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24316655?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Lognet Украина, Lognet Billing, ДП Компании</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24232493?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sumac</td> 
     <td class="salary">1&nbsp;100-1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/23917417?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24316162?query=java%20Odessa">Blockchain Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24234823?query=java%20Odessa">Senior Scala developer (to Germany)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24395132?query=java%20Odessa">Инженер-программист Linux</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">РАДИОН</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24413757?query=java%20Odessa">R&amp;D Engineer/Data Scientist</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО VeraData East</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24316919?query=java%20Odessa">Middle Frontend Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Lognet Украина, Lognet Billing, ДП Компании</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24354087?query=java%20Odessa">PHP Middle Back-End developer в продуктовый стартап</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП MobsterAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24014256?query=java%20Odessa">Системный администратор</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24317028?query=java%20Odessa">RDBMS Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Lognet Украина, Lognet Billing, ДП Компании</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/24104167?query=java%20Odessa">Blockchain Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО 482.solutions</td> 
     <td class="salary">500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/22842399?query=java%20Odessa">Senior PHP Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary">2&nbsp;200-4&nbsp;950 USD</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>